<nav class="py-2 px-4">
  <ul class="flex items-center justify-end">
    <li class="nav-link">
      <a href="/">Home</a>
    </li>
    <li class="nav-link">
      <a href="/posts">Posts</a>
    </li>
  </ul>
</nav>
